*.xls*
*.csv
*.tsv
**/__pycache__/*
.venv/**
data/**
data-z-archive/**
private/**
site/**
tmp/**
images/src/raw/**
images/src/scaled/**
images/src/bordered/**
images/src/stage/**
vba/[Content_Types].xml
vba/vbaProject.bin
vba/workbook.xml.rels
*_template.bak
build/**
dist/**
budget_dance.egg-info/**
dance/docu/**